.dropdown {
    position: relative;
}

.trigger {}

.content {
    width: fit-content;
    position: absolute;
    z-index: 1;
    top: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

@media (prefers-color-scheme: light) {
    .content {
        border: 1px solid #1a1a1a;
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    .content {
        border: 1px solid #ffffff;
        background-color: #1a1a1a;
    }
}

.range {
    display: flex;
    column-gap: 10px;
}
