.flight {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-items: end;
    column-gap: 40px;
    align-items: center;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

@media (prefers-color-scheme: light) {
    .flightt {
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    .flightt {
        background-color: #1a1a1a;
    }
}

.cities {
    justify-self: start;

    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
}

.separator {
    font-weight: 700;
}

.origin, .destination {
    font-weight: 700;
}

.flight-time {
    display: flex;
    flex-direction: column;
}

.highlight {
    color: rgb(114,132,228);
    background-color: transparent;
    cursor: pointer;
}
