.flights {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (prefers-color-scheme: light) {
   .flights {
       background-color: #f0f0f0;
   }
}

@media (prefers-color-scheme: dark) {
    .flights {
        background-color: #1a1a1a;
    }
}

.sort {
    margin-bottom: 40px;
}
